<Header>
    <div class="logo">
        <img src="../assets/GhibliLogo.png" alt="Logo del Studio Ghibli Totoro en blanco y negro" />
    </div>
</Header>

<body>
    <div class="container">
        <form class="search-film">
            <mat-form-field class="field-film">
                <mat-label>Film</mat-label>
                <input type="text" matInput [formControl]="controlFilms" [matAutocomplete]="auto" placeholder="Type a film name"
                    name="searchFilm" (keyup.enter)="openDetailDialog()">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option  *ngFor="let film of filteredFilms | async" [value]="film">
                        {{ film.title }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
    </div>
    
    <div class="listContainer">
        <mat-card class="card" *ngFor="let film of films">
            <mat-card-header color="primary">
                <mat-card-title>
                    <h2>{{ film.title }}</h2>
                </mat-card-title>
                <mat-card-subtitle>
                    <h3> {{ film.original_title }} </h3>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>{{ film.description }} </mat-card-content>
            <mat-card-footer>
                <button mat-button (click)="openDetailDialogButton(film)">More details</button>
            </mat-card-footer>
        </mat-card>
    </div>
</body>

